@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

body, ul, li, h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.row::after{
    display: block;
    content: "";
    clear: both;
}

.cell{
    float: left;
    box-sizing: border-box;
}


.con{
    margin: 0 auto;
    max-width: 1100px;
}

.img_box > img{
    display: block;
    width: 100%;
}
